@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}

<h1>Change the Admin Password</h1>

@if (Model.ErrorMessage != null)
{
    <h2 style="color: red">@Model.ErrorMessage</h2>
}

<form id="password-form" method="post">
    <input type="password" name="oldPassword" placeholder="Old Password..." autofocus="autofocus" />
    <input type="password" name="newPassword" placeholder="New Password..." autofocus="autofocus" />
    <input type="password" name="repeatedPassword" placeholder="New Password Repeated..." autofocus="autofocus" />
    <button type="submit">Set Password</button>
</form>
