@model ButtonListViewModel
@{
    Layout = "_LayoutPrint";
    ViewData["Title"] = "Button Printing";

    const int ItemsPerPage = 24;
}

@section Scripts
{
    <script src="~/js/common.js" asp-append-version="true" type="text/javascript"></script>
    <script src="~/js/print.js" asp-append-version="true" type="text/javascript"></script>
}

<h1 class="no-print">Close this tab after printing, if it did not close automatically</h1>

<section class="print-buttons">
    @foreach (var page in Model.Items.Chunk(ItemsPerPage))
    {
        <div class="print-page">
            @foreach (var button in page)
            {
                <div class="print-button">
                    <partial name="_Button" for="@button" />
                </div>
            }
        </div>
    }
</section>
