@{
    ViewData["Title"] = "Set Password";
}

<h1>Set the Admin Password</h1>

<form id="password-form" method="post">
    <input type="password" name="password" placeholder="Password..." autofocus="autofocus" />
    <button type="submit">Set Password</button>
</form>
