@model ButtonViewModel
@{
    Layout = "_LayoutPhone";
    ViewData["Title"] = "Confirm and Send";
}

@section Scripts
{
    <script src="~/js/confirm.js" asp-append-version="true" type="text/javascript"></script>
}

<form method="post" asp-action="Confirm" asp-route-id="@Model.Id" class="flex-container">
    <partial name="_CropFields.cshtml" for="Crop" />
    <div class="file-box">
        <div id="confirm-image-outer"><img id="confirm-image" src="~/buttons/@Model.Path" /></div>
    </div>
    <button type="submit" name="decline">Back</button>
    <button type="submit" name="confirm">Print</button>
</form>
