@model ButtonViewModel
@{
    Layout = "_LayoutPhone";
    ViewData["Title"] = "Confirm and Send";
}

@section Scripts
{
    <script src="~/js/common.js" asp-append-version="true" type="text/javascript"></script>
}

<form method="post" asp-route-id="@Model.Id" class="flex-container">
    <div class="fill-box">
        <div class="confirm-button-outer">
            <partial name="_Button" />
        </div>
    </div>
    <button type="submit" name="decline">Back</button>
    <button type="submit" name="confirm">Print</button>
</form>
