@{
    Layout = "_LayoutPhone";
    ViewData["Title"] = "Upload Your Button";
}

@section Scripts
{
    <script src="~/js/upload.js" asp-append-version="true" type="text/javascript"></script>
}

<form method="post" enctype="multipart/form-data" asp-action="Index" class="flex-container">
    <div class="file-box">
        <label for="file"><img class="file-icon" src="/images/file-arrow-up.svg" alt="" /> Tap to Add Image</label>
        <img class="file-preview" src="//:0" alt="" />
        <input type="file" id="file" name="file" accept=".jpg, .jpeg, .png">
    </div>
    <button type="submit" disabled="disabled">Next</button>
</form>
