@using System.Text.Json
@model ButtonListViewModel
@{
    Layout = "_LayoutPhone";
    ViewData["Title"] = "Your Buttons";
}

@section Scripts
{
    <script src="~/js/common.js" asp-append-version="true" type="text/javascript"></script>
    <script src="~/js/index.js" asp-append-version="true" type="text/javascript"></script>
}

<div class="flex-container">
    <div class="fill-box border scroll-box">
        @if (Model.Items.Count == 0)
        {
            <div>You don't have any buttons yet. You can create one by clicking "Create New" bellow.</div>
        }
        else
        {
            <div class="overview">
                @foreach (var button in Model.Items)
                {
                    <div class="overview-item">
                        <partial name="_Button" for="@button" />
                    </div>
                }
            </div>
        }
    </div>
    <a asp-action="Create" class="button">Create New</a>
</div>

<div id="detail-view">
    <a id="detail-close">X</a>
    <div class="detail-button">
        <div class="button-outer">
            <img class="button-image" src="//:0" />
        </div>
    </div>
    <div>
        <div class="detail-info">Status:&nbsp;<span id="detail-status">Unknown</span></div>
        <a id="detail-edit" class="button" asp-action="Crop" asp-route-id="__id__">Edit</a>
        <a id="detail-remove" class="button" asp-action="Delete" asp-route-id="__id__">Delete</a>
    </div>
</div>
