@using System.Text.Json
@model ButtonListViewModel
@{
    Layout = "_LayoutPhone";
    ViewData["Title"] = "Your Buttons";
}

@section Scripts
{
    <script src="~/js/common.js" asp-append-version="true" type="text/javascript"></script>
}

<div class="flex-container">
    <div class="fill-box border scroll-box">
        @if (Model.Items.Count == 0)
        {
            <div>You don't have any buttons yet. You can create one by clicking "Create New" bellow.</div>
        }
        else
        {
            <div class="overview">
                @foreach (var button in Model.Items)
                {
                    <div class="overview-item">
                        <partial name="_Button" for="@button" />
                    </div>
                }
            </div>
        }
    </div>
    <a asp-action="Create" class="button">Create New</a>
</div>
