@model ButtonListViewModel
@{
    Layout = "_LayoutPhone";
    ViewData["Title"] = "Your Buttons";
}

@section Scripts
{
}

<ul>
@foreach (var button in Model.Items) {
    <li>@button.Path</li>
}
</ul>
