* {
    font-family: 'Helvetica', sans-serif;
}

body {
    background-color: #222;
}

button, .file-box {
    display: block;
    margin: 1rem auto;
}

button {
    height: 4rem;
    width: calc(100vw - 2rem);

    cursor: pointer;
    font-size: 2.5rem;
    color: #999;
    border: 5px solid #555;
    border-radius: 10px;
    background-color: transparent;

    transition: 0.25s;
}

button:hover, button:active {
    color: #333;
    border-color: #999;
    background-color: #999;
}

.file-box {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    height: calc(100vh - 7rem - 10px);
    width: calc(100vw - 2rem - 10px);
    border: 5px solid #555;
    border-radius: 10px;
}

.file-box label {
    color: #999;
    font-size: 3rem;

    display: block;
    height: 7rem;
    width: 15rem;
}

.file-icon {
    filter: invert(66%) sepia(0%) saturate(3239%) hue-rotate(229deg) brightness(98%) contrast(65%);

    display: inline;
    width: 3rem;
    height: 3rem;
}

.file-preview {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.file-preview.visible {
    opacity: 1;
}

#file {
    opacity: 0;
    position: absolute;
    top: -5px;
    left: -5px;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
}