* {
    font-family: 'Helvetica', sans-serif;
}

body {
    color: #999;
    background-color: #222;
    padding-top: 1rem;
}

.filled {
    width: 100%;
    height: 100%;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: calc(100vh - 1rem);
}

button, input[type=text], .file-box {
    display: block;
    margin: 0 auto 1rem auto;
}

button, input[type=text] {
    width: calc(100vw - 2rem);
    box-sizing: border-box;

    font-size: 2.5rem;
    color: #999;
    background-color: transparent;

    border: 5px solid #555;
    outline: none;
    border-radius: 10px;

    transition: 0.25s;
}

button {
    height: 4rem;
    cursor: pointer;
}

button:hover, button:focus-visible {
    color: #333;
    border-color: #999;
    background-color: #999;
}

button:active {
    color: #333;
    border-color: #090;
    background-color: #090;

}

button[disabled] {
    margin: 0;
    opacity: 0;
    height: 0;
    font-size: 0;
    cursor: default;
}

input[type=text] {
    height: 6rem;
    padding: 1rem;
}

input[type=text]:focus-visible {
    border-color: #999;
    outline: none;
}

.file-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex: 1; /* filling remaining height */
    width: calc(100vw - 2rem - 10px);
    border: 5px solid #555;
    border-radius: 10px;
}

.file-box label {
    color: #999;
    font-size: 3rem;
    display: block;
    height: 7rem;
    width: 15rem;
}

.file-icon {
    filter: invert(66%) sepia(0%) saturate(3239%) hue-rotate(229deg) brightness(98%) contrast(65%);
    display: inline;
    width: 3rem;
    height: 3rem;
}

.file-preview {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.file-preview.visible {
    opacity: 1;
}

#file {
    opacity: 0;
    position: absolute;
    top: -5px;
    left: -5px;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
}

/* Crop */

#crop-image {
    object-fit: contain;
    max-width: 100%;
}

.cropper-view-box, .cropper-face {
    border-radius: 50%;
}

span.cropper-view-box {
    outline: 3px solid #248232;
}

span.cropper-face {
    opacity: 1;
    background: radial-gradient(closest-side, rgba(255, 255, 255, 0.1) 0, rgba(255, 255, 255, 0.1) 86%, rgba(0, 0, 0, 0.5) 87%, rgba(0, 0, 0, 0.5) 100%);
}

/* Confirm */

#confirm-image-outer {
    position: relative;
    width: min(100vw - 2rem - 10px - 6px, 50vh);
    height: min(100vw - 2rem - 10px - 6px, 50vh);
    border-radius: 50%;
    border: 3px solid #248232;
    overflow: hidden;
}

#confirm-image {
    position: relative;
}
